*.psd
*.sesx
*.ogg
*.blend3
*.blend2
*.blend1
*.blend
external assets/moosic/CustomTankTheme_mixdown.wav
external assets/moosic/Imported Files/banjo_02_06.wav
external assets/moosic/Imported Files/banjo_02_07.wav
external assets/moosic/Imported Files/banjo_02_08.wav
external assets/moosic/Imported Files/banjo_02_13.wav
external assets/moosic/Imported Files/banjo_02_14.wav
external assets/moosic/Imported Files/banjo_02_15.wav
external assets/moosic/Imported Files/dotd_170_08.wav
external assets/moosic/Imported Files/drums02c.wav
external assets/moosic/Imported Files/drums02d.wav
external assets/moosic/Imported Files/drums03a.wav
external assets/moosic/Imported Files/drums03b.wav
external assets/moosic/Imported Files/drums08a.wav
external assets/moosic/Imported Files/drums08b.wav
external assets/moosic/Imported Files/drums08e.wav
external assets/moosic/Imported Files/drums5b.wav
external assets/moosic/Imported Files/drums5d.wav
external assets/moosic/Imported Files/drums5e.wav
external assets/moosic/Imported Files/horde_01.wav
external assets/moosic/Imported Files/horde_02.wav
external assets/moosic/Imported Files/horde_03.wav
external assets/moosic/Imported Files/L4D1 Beta Style Tank Theme 44100 1.wav
external assets/moosic/Imported Files/snare_horde_01_01a.wav
external assets/moosic/Imported Files/snare_horde_01_01b.wav
external assets/moosic/Imported Files/tank.wav
